.post {
  background: white;
  margin: 2em auto;
  padding: 2em 0;
  box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);

  @media (min-width: $on-phone) {
    width: ($on-phone - 50px);
  }

  @media (min-width: $on-laptop) {
    width: ($on-laptop - 100px);
  }
}

.post > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding: 0 1em;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 0em 1em;
  text-align: center;
}

.post p {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 1rem;
}

.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  margin: 1.5em;
}

.post li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.post-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.post-content audio {
  margin-top: 1rem;
}
