body {
  background: $brand-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.3125em;
  line-height: 1.5;
  margin: 0 auto;

  width: $on-phone;

  @media (min-width: $on-laptop) {
    width: $on-laptop;
  }
}

.container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 20px 0;

  width: ($on-phone - $container-padding);

  @media (min-width: $on-laptop) {
    width: ($on-laptop - $container-padding);
  }
}

h1 {
  font-size: 3em;
  margin: .5em auto;
}

h2 {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1.3333em auto;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: center;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:focus {
  outline: 1px dashed $text-color;
}

blockquote {
  margin: 2em auto;
  opacity: .8;
  > * {
    padding: 0 3em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-size: .75em;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

figure img {
  margin: 2em auto 1em;
}

figcaption {
  font-size: .875em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  opacity: .7;
}

.divided::after {
  content: "";
  @include divider;
}

.content-title {
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .825em;
  white-space: nowrap;
  text-transform: uppercase;
  .post-link & {
    padding: .5em 0;
  }
}

.site-credits {
  margin: 0 auto 2em;
  padding: 0 2em;
  text-align: center;
}

.logo {
  margin: 2rem 0;
  width: ($on-phone - 80px);

  @media (min-width: $on-laptop) {
    width: ($on-phone - 20px);
  }
}





.polaroid {
  background-color: white;
  margin: 0 20px 3rem 20px;
  padding: 1rem;
  box-shadow: 9px 9px 10px rgba(#000, 0.05);
  width: ($on-phone - 80px);

  @media (min-width: $on-laptop) {
    width: ($on-phone - 92px);
  }
}

.polaroid-wide {
  @media (min-width: $on-laptop) {
    padding: 1rem 40px;
    width: ($on-laptop - 80px);
  }
}

.polaroid img {
  margin: 0 0 1rem 0;
}

.polaroid h2 {
  font-family: $font-family-deco;
  margin: 0;
}

.polaroid p {
  margin-bottom: 1rem;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.song-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

audio {
  margin-bottom: 3rem;
  border: 1px solid #ccc;
}
