.site-masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: $font-family-deco;
}

.site-masthead h1 {
  font-size: 2em;
  margin: 0 0 1rem 0;

  @media (min-width: $on-laptop) {
    font-size: 4em;
  }
}

.site-masthead a {
  text-decoration: none;
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1.25em;
  margin: 0;
  padding: 0 2rem;
}

.color-bar {
  display: flex;
  width: 100%;
  margin: -1rem 0 0 0;

  div {
    height: 0.5rem;
  }
}

.color-bar-1 {
  width: 18%;
  background-color: $color-bar-1;
}

.color-bar-2 {
  width: 12%;
  background-color: $color-bar-2;
}

.color-bar-3 {
  width: 23%;
  background-color: $color-bar-3;
}

.color-bar-4 {
  width: 29%;
  background-color: $color-bar-4;
}

.color-bar-5 {
  width: 18%;
  background-color: $color-bar-5;
}
