/* Color Theme Swatches in Hex */
$Fat-Egg-1-hex: #123273;
$Fat-Egg-2-hex: #2C6CBF;
$Fat-Egg-3-hex: #307CBF;
$Fat-Egg-4-hex: #F2E85E;
$Fat-Egg-5-hex: #D9D166;

/* Color Theme Swatches in RGBA */
$Fat-Egg-1-rgba: rgba(18,50,114, 1);
$Fat-Egg-2-rgba: rgba(43,107,191, 1);
$Fat-Egg-3-rgba: rgba(47,124,191, 1);
$Fat-Egg-4-rgba: rgba(242,232,94, 1);
$Fat-Egg-5-rgba: rgba(216,209,101, 1);

/* Color Theme Swatches in HSLA */
$Fat-Egg-1-hsla: hsla(219, 72, 26, 1);
$Fat-Egg-2-hsla: hsla(213, 62, 46, 1);
$Fat-Egg-3-hsla: hsla(208, 60, 46, 1);
$Fat-Egg-4-hsla: hsla(56, 85, 66, 1);
$Fat-Egg-5-hsla: hsla(56, 60, 62, 1);



/* Color Theme Swatches in Hex */
$El-Gusano-Taquería-1-hex: #F20530;
$El-Gusano-Taquería-2-hex: #D9043D;
$El-Gusano-Taquería-3-hex: #F2295F;
$El-Gusano-Taquería-4-hex: #CCD3D9;
$El-Gusano-Taquería-5-hex: #038C65;

/* Color Theme Swatches in RGBA */
$El-Gusano-Taquería-1-rgba: rgba(242,4,48, 1);
$El-Gusano-Taquería-2-rgba: rgba(216,4,60, 1);
$El-Gusano-Taquería-3-rgba: rgba(242,41,94, 1);
$El-Gusano-Taquería-4-rgba: rgba(203,210,216, 1);
$El-Gusano-Taquería-5-rgba: rgba(2,140,101, 1);

/* Color Theme Swatches in HSLA */
$El-Gusano-Taquería-1-hsla: hsla(348, 96, 48, 1);
$El-Gusano-Taquería-2-hsla: hsla(343, 96, 43, 1);
$El-Gusano-Taquería-3-hsla: hsla(343, 88, 55, 1);
$El-Gusano-Taquería-4-hsla: hsla(208, 14, 82, 1);
$El-Gusano-Taquería-5-hsla: hsla(163, 96, 28, 1);


/* Color Theme Swatches in Hex */
$Rot-1-hex: #FF0093;
$Rot-2-hex: #E80C27;
$Rot-3-hex: #FF1900;
$Rot-4-hex: #E83F0C;
$Rot-5-hex: #FF5D00;

/* Color Theme Swatches in RGBA */
$Rot-1-rgba: rgba(255,0,147, 1);
$Rot-2-rgba: rgba(232,11,38, 1);
$Rot-3-rgba: rgba(255,24,0, 1);
$Rot-4-rgba: rgba(232,62,11, 1);
$Rot-5-rgba: rgba(255,93,0, 1);

/* Color Theme Swatches in HSLA */
$Rot-1-hsla: hsla(325, 100, 50, 1);
$Rot-2-hsla: hsla(352, 90, 47, 1);
$Rot-3-hsla: hsla(5, 100, 50, 1);
$Rot-4-hsla: hsla(13, 90, 47, 1);
$Rot-5-hsla: hsla(21, 100, 50, 1);



$color-1:             $Fat-Egg-1-rgba;
$color-2:             $Fat-Egg-2-rgba;
$color-3:             $Fat-Egg-3-rgba;
$color-4:             $Fat-Egg-4-rgba;
$color-5:             $Fat-Egg-5-rgba;

$color-bar-1:         $Rot-1-hex;
$color-bar-2:         $Rot-2-hex;
$color-bar-3:         $Rot-3-hex;
$color-bar-4:         $Rot-4-hex;
$color-bar-5:         $Rot-5-hex;

$brand-color:         $color-4;
$highlight:           lighten($brand-color, 35%);
$text-color:          $color-1;
$muted-text-color:    $color-1;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;
$font-family-deco:    'Kristi', serif;

$on-phone:            320px;
$on-laptop:           740px;
$container-padding:   20px;
